# Tutorial 1: algorithmic thinking, variables, data types.
**Day 1, session 1: Intro**

__Content creators:__ David Palecek, Paulo Martel

---
# Tutorial Objectives

* Introducing Jupyterlab Notebooks
* No code algorithmic thinking
* Your first program in one cell.
* introducing variables and data types

---
# Setup

In [2]:
# imports

In [6]:
# @title Helper Functions

def checkExercise1():
    pass

# Section 1: No coding ease up inspired by 

*Time estimate: ~30mins*

1. Bebras challenge (page 77 fo the 2022)
https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.csiro.au/-/media/Digital-Careers/Files/Bebras-Files/Bebras-Solution-Guide-2022-R1-Secondary.pdf&ved=2ahUKEwiPjq2bpIiGAxUG9rsIHSMaB0YQFnoECBIQAQ&usg=AOvVaw0EMj-HGUnfR34aGRwT_CZB

2. Cooking recipe translated to code
   * pseudo code
   * Explain to a computer a step by step procedure how to cook scrambled eggs

# Section X: Introducing interactive python

*Time estimate: ~10mins*

This document is in a special format called *Jupyter Notebook* that allows **Python Code**, **Text** and **Outputs** to be mixed in the same page.
The document is hosted in the **Google Colab Environment**, which provides a dedicated *virtual machine* to run the code in the notebook.

Jupyter Notebooks are made of cells. At this very moment you are reading the contents of a text cell, but below you will find Python code cells intermingled with text cells. Each text cell can have one or several lines of text, and each code cell can have one or more lines of Python code. To edit text cells, double-click on them, and the unformatted content will be made available. Doing SHIFT+ENTER on text cells will revert them to the formatted status, closing the edit mode and moving the cursor over to the next cell (the one immediately below).

Execute cells (with SHIFT+ENTER) or execute and create empty cell below (ALT+ENTER). Note that code cells have a "play" button on the left side, and you can also run them by clicking on that button.



Before we start, we need to connect the notebook to the virtual machine, which can be done by clicking the "Connect" button at the top right of the screen. After a few seconds, the button will change to a green checkmark next to memory ("RAM") and storage ("Disk") free size indicators - the Colab environment can be run for free, but it's resources are limited.

# Basic ingrediences (lego pieces) for your first program

*Time estimate: ~20mins*

1. print function: output by default on screen
2. text or `string` is always inbetween " " or ' '
3. `if` something, simplest flow control
4. how to access time, import datetime
5. arithmetic operators

In [10]:
print('Welcome to the Python for LIfe Science course.')

Welcome to the Python for LIfe Science course.

In [5]:
if 2 > 1:
    print('left side greater than the right')
elif 2 < 1:
    print('right side greater than the left')
else:
    print('None of the above')

left side greater than the right

**Task:** Modify the above code to get the answer in `else:` statement

In [2]:
# datetime is a module and dt is how we are going to refer to it.
import datetime as dt

arithmentic operators
exercise 1

fill in dictionary and check the answers with check_exercise()

In [1]:
# 5. arithmetic operations
# fill operators in string
# careful with / !!!
answer = {
    'multiplication': '',
    'addition': '',
    'subtraction': '',
    'division': '',
    'integer (floor) division': '',
    'modulus': '',
    'Exponentiation': '',
}

In [ ]:
# check the answer here

---
# Section X: Your first program

*Time estimate: ~45mins*

In [4]:
# greet user
print('Hello Noah')

# when lunch
import datetime as dt

lunchTime = dt.time(12, 0, 0)
night_time = dt.time(22, 0, 0)

if dt.datetime.now() == lunchTime:
    print('Noah, go for lunch, otherwise your aptitude will drop!',
          '\n', '---------')

if dt.datetime.now() == night_time:
    print('Noah, go to sleep, otherwise you will not look great tomorrow!',
          '\n', '---------')

# exit the program after the day is over.
print('Day is over, program exits')

Hello Noah
Day is over, program exits

## Tasks to try and improve the code (the step by step process is the key skill for programming)
1. Change one of the time numbers into something which does not make sense. Do you understand what the Error means. **Errors are there to help you, not scare you. The worst is to run wrong code and not having errors raised.**

2. Not everyone is called Noah. introduce variable `name`. Use it in the `print` statement. Try intuitive way, even though I assure you it will fail. Search internet (use as precise keywords in the question). Do the same in the GPT 3.5

3. Implement while loop to check current if current time. Our code ran once, so unless you run it exactly at midday or 10pm, the `if` statements will never evaluate `True`.
    * Use `while True:` statement. This is always true, so you need to `break` out of such loop after last task is done. When is that?
    * Now you are stuck with running code until 10pm, notice the start next to the cell, which means the cell is running, and you cannot continue your work.
 
4. So let's pretend lunch is 3s from "now" and night time 6s from "now". Use `dt.datetime.now() + dt.timedelta(seconds=XX)` to define lunch and night time

5. How come lunch and night is never called and we are still stuck in execution? Condition `== lunchTime:` is too stricts, if you do not hit the PC time exactly, it passes and there is no way back, unless you try your luck tomorrow :).

6. Find how to ask if your "now" is "greater than" lunch-time. Then you always catch the condition.

7. What is the problem now? Too many lunch prints, how do we control that. One way is to use a concept of `flags`. Define flag `message_counter = 0` and once lunch if is getting evaluated, change the flag value.
    * Second, you need to check for the `message_counter` every time you are in the `if`, use `and` to add condition on the `message_counter` value.
  
### ðŸ’€ **You nailed it** ðŸŽ‰

# Section 2: Variables

*Time estimate: ~20mins*

objects which store your data. You can refer to them many times in the program

In [ ]:
# text variable we already used
user = 'Noah'

## Not always clear with the variable type

Number 1 can be text (`string`), natural number (integer `int`) or real number (`float`)

In [5]:
str_number = "1"  # or '1'
int_number = 1
float_number = 1.

In [9]:
type(str_number)

str

In [15]:
'1' + '1', type('1' + '1')

('11', str)

In [17]:
1 + 1, type(1 + 1)

(2, int)

In [21]:
1 + 1., type(1 + 1.)

(2.0, float)

In [27]:
3/1, type(3/1)

(3.0, float)

In [29]:
3 * 1, type(3 * 1)

(3, int)

**Note**:

Variable names cannot start with numbers, cannot contain "weird characters" (_ is not weird, - is weird, " definitely weird)

## Why is data type important
* any variable in python is an object (`string` object, `int` object etc.)
* objects have properties (attributes) and functions (methods) associated to them. They provide basic operations on your particular data type, which imensely speed up your coding

In [6]:
a = '1' + '1'
len(a)

2

`len` is defined for `string`, `list`, `tuple`, `dict`, `set`, `bytearray`, `range`. And this is built-in types only. We will see numpy arrays and pandas DFs all have `len()` too.

In [7]:
a = 1 + 1
len(a)

TypeError: object of type 'int' has no len()

In [72]:
# if you use additional modules, the data types will reflect that
type(lunchTime)

datetime.time

In [74]:
type(0+1j)

complex

In [75]:
type(True), type(False)

(bool, bool)

In [76]:
2*True + 100*False

2

## Exercise on variables

In [ ]:
# this is your starting variable
user = 'Noah'

### Search for `string methods` in python online
* use string methods to achieve these outputs
'NOAH', 'noah', 'haon', 'NoAh', 'Nooh', 'NoahNoah'

* count letter a
* position of substring 'ah', index() method

In [71]:
# here you can get all attributes and methods for any python object
dir(str)  # dir(5) also gives you something: Prove that everything is an object

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

---
# Section X: Lists, indexing

*Time estimate: ~20mins*

In [33]:
lst1 = [1, 2, 3, 4, 5, 6]
lst1

[1, 2, 3, 4, 5, 6]

In [34]:
lst2 = [1, 5.56, 'Noah', lst1]
lst2, type(lst2)

([1, 5.56, 'Noah', [1, 2, 3, 4, 5, 6]], list)

In [35]:
# indexing
# get first element of lst2
lst2[0]

1

## YES, in python we count from 0!!!

In [36]:
# last element
lst2[-1]

[1, 2, 3, 4, 5, 6]

In [37]:
type(lst2[0]), type(lst2[-1])

(int, list)

---
# Section X: Exercise

*Time estimate: ~20mins*

In [43]:
# parsing string type of data?
# Example text
text = """
The solar system consists of the Sun and the celestial objects that orbit it, \
including eight planets. The average distance from the Sun to Mercury \
is approximately 57.9 million kilometers, \
to Venus is approximately 108.2 million kilometers, \
to Earth is approximately 149.6 million kilometers, \
to Mars is approximately 227.9 million kilometers, \
to Jupiter is approximately 778.6 million kilometers,  \
to Saturn is approximately 1.4 billion kilometers, to Uranus is  \
approximately 2.9 billion kilometers, and to Neptune is approximately 4.5  \
billion kilometers.
"""

In [65]:
import re

numbers = re.findall(r'\b\d+(?:\.\d+)?(?:\s*(?:million|billion)?)?\b', text)

distances = []

for number in numbers:
    num_value, num_unit = number.split()
    num_value = float(num_value)
    print(num_value, num_unit)
    if num_unit == 'million':
        num_value *= 1e6
    elif num_unit == 'billion':
        num_value *= 1e9
    distances.append(num_value)

# Convert distances from kilometers to astronomical units (AU)
au_distances = [distance / 149.6e6 for distance in distances]

# Calculate the average distance in AU
average_distance = sum(au_distances) / len(au_distances)
print("Average distance of the planets from the Sun in astronomical units (AU):", average_distance)

57.9 million
108.2 million
149.6 million
227.9 million
778.6 million
1.4 billion
2.9 billion
4.5 billion
Average distance of the planets from the Sun in astronomical units (AU): 8.457720588235293

---
# Section X:
* link to test and feedback google form. (Each session should have it)